:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --marvel-color:#ec1d24;
  --dark-gray:#151515;
  --light-gray:#484848;
  --background-color:#0000;
  --marvel-hover: #f4474d;
  --border-color: #ddd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 10px;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.5em;
  color: var(--marvel-color);
}

nav ul li a.router-link-active {
  font-weight: bold;
}
